# -----------------------------
# ROOT LEVEL
# -----------------------------
node_modules/
.env
.env.*
client/.env.local
server/.env
.DS_Store
*.log
Thumbs.db

.next
client/.next

# -----------------------------
# CLIENT (Next.js)
# -----------------------------
client/node_modules/
client/.next/
client/out/

# -----------------------------
# SERVER
# -----------------------------
server/node_modules/
server/dist/
server/.trigger/

# Prisma
server/prisma/*.db
server/prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript
*.tsbuildinfo

# Editor
.vscode/
.idea/

# Vercel
.vercel